PPE_Detection/*.jpg
*.zip
*.pyc
result/
PPE_Detection/Construction-Site-Safety-5/
*.rar
PPE_Detection/image/
PPE_Detection/splits/
PPE_Detection/Construction-Site-Safety/
PPE_Detection/img_embeddings.txt
__pycache__/
PPE_Detection/Construction-Site-Safety
PPE_Detection/data
PPE_Detection/rare_classes
PPE_Detection/RF-DETR_data
*.mp4
PPE_Detection/experiments/PPE_detection_data_version 1/detect/yolo/train_rf_detr_base/RF-DETR.pth
./PPE_Detection/experiments/PPE_detection_data_version 1/detect/yolo/train_rf_detr_base/RF-DETR.pth
*.txt
PPE_Detection/experiments/checkpoints/RF-DETR.pth
PPE_Detection/inference/rf-detr-base.pth 