<!DOCTYPE html>
<html>
<head>
    <title>ZED Camera Dashboard</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>
<body>
    <div class="container">
        <h1>ZED Camera Dashboard</h1>
        <img id="video-feed" style="width: 100%; max-width: 1280px;">
    </div>

    <script>
        const socket = io();

        socket.on('connect', () => {
        console.log('Connected to server');
        });

        socket.on('disconnect', () => {
        console.log('Disconnected from server');
        });

        const videoFeed = document.getElementById('video-feed');

        socket.on('video_frame', function(data) {
            console.log('Received frame');  // Debug log for receiving frames
            videoFeed.src = 'data:image/jpeg;base64,' + data.frame;
        });
    </script>
</body>
</html>